.test {
  color: black;
  background-color: blue;
  font-size: 48px;
}

.centered-div {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-container {
  border: 8px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  padding: 2em;
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  border: 8px;
  fontsize: 2rem;
}
