.test {
  color: black;
  background-color: blue;
  font-size: 48px;
}

.centered-div {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  border: 8px solid black;
  display: flex;
  justify-content: center;
}
.box {
  height: 200px;
  width: 200px;
  background-color: black;
  font-size: 40pt;
}
