.test {
  color: black;
  background-color: blue;
  font-size: 48px;
}

.centered-div {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photo {
  width: 10rem;
  height: 10rem;
  display: flex;
}

.text {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
